.git
.gitignore

**/.terraform
**/*.tfstate
**/*.tfstate.*
**/tfplan
**/terraform.tfvars

backend/.env
backend/venv
backend/.pytest_cache
backend/htmlcov
backend/.coverage
backend/tests
backend/__pycache__
**/__pycache__
**/*.pyc
**/*.pyo

frontend/node_modules
frontend/.next

.pytest_cache
.coverage

docs
jenkins
terraform

deploy